{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 0,
    "prefer-arrow-callback": 0,
    "radix": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0
  }
}
